<% count = defined?(count) ? count : 0 %>

<div id="some-other-id" data-reflex="click->ExampleReflex#update_count" data-count="<%= count.to_i %>" style="width: 100px; height: 100px; background-color: grey;">
  <%= count %>
</div>
